* {
    box-sizing: border-box; /* Garante que padding e bordas sejam incluídos no cálculo de width e height */
}

body {
    min-height: 100vh;
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #F5F5F5;
}

img {
    width: 150px;
    padding-block: 2rem;
}

.menuLateral {
    position: fixed;
    width: 250px; /* Largura da barra lateral */
    height: 100%;
    background-image: url('./Barra\ lateral.png');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuLateral::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.menuLateral ul {
    padding-block: 2rem;
    width: 100%;
}

.menuLateral li {
    list-style: none;
    width: 100%;
   
}


.menuLateral li:hover a {
    color: #F2D78C;
    font-weight: 600;
}

.menuLateral ul li a {
    display: block;
    width: 100%;
    padding-block: 1rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 16px;
}


p {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.mainCorpo {
    margin-left: 250px; 
    padding: 1.5rem;
    width: calc(100% - 250px); 
    min-height: 100vh;
}

.Titulo h2 {
    font-size: 25px;
    color: #454545;
    padding-block: 2rem;
    margin-left: 2rem;   
    font-weight: bold;
}


.containerBrigadeiros {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    text-align: center;
}


.containerBrigadeiros h2 {
    font-size: 18px;
    color: #454545;
    margin-bottom: 1.5rem;
    text-align: left;
}

.brigadeirosLista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 0.5rem;
}

.brigadeiroItem {
    flex: 1 1 calc(33.333% - 1rem); 
    background-color: #fff;
    border-radius: 8px;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 1rem; 
}

.brigadeiroItem img {
    width: 140px;
    border-radius: 8px;
    margin-right: 1rem;
}

.descricao-brigadeiro {
    display: flex;
    flex-direction: column;
}

.descricaoBrigadeiro h3 {
    font-size: 14px;
    color: #333333;
    margin: 0;
}

.descricaoBrigadeiro span {
    font-size: 15px;
    color: #EBB623;
    font-weight: bold;
}

.concluirPedidoButton {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #F2D78C;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}


.botaoDesativado {
    background-color: #D3D3D3; /* Cor de fundo cinza para o botão desativado */
    cursor: not-allowed; /* Cursor de não permitido */
    color: #A9A9A9; /* Cor do texto para o botão desativado */
}

/* Estilo para o contêiner da quantidade */
.quantidadeContainer {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

/* Estilo para os botões de quantidade */
.botaoQuantidade {
    background-color: #F0F0F0;
    border: none;
    border-radius: 50%;
    color: black;
    font-size: 14; /* Tamanho da fonte */
    width: 20px; /* Largura do botão */
    height: 20px; /* Altura do botão */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo para o display da quantidade */
.quantidade {
    width: 30px;
    text-align: center;
    font-size: 12px;
    color: #333;
    /* margin: 0 0.1rem; /* Espaço entre os botões e o display da quantidade */
}

.adicionarButton {
    background-color: #F2D78C; /* Cor de fundo amarela */
    color: #454545; /* Cor do texto */
    border: none;
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px 20px; /* Ajuste a largura e altura do botão */
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}